@model IEnumerable<TaskDelegatingApp.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableMonday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTuesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableWednsday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableThursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFriday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSaturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSunday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableMonday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableWednsday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableThursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFriday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSaturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day.DayId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
